@font-face {
  font-family: "Helvetica";
  src: url("/assets/fonts/Helvetica-Light.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica";
  src: url("/assets/fonts/Helvetica.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Helvetica";
  src: url("/assets/fonts/Helvetica-Bold.ttf") format("ttf");
  font-weight: 600;
}

